 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
  }

  .wrapper{
  box-shadow: 0 0 10px rgba(53, 24, 10, 0.2`);
  padding: 15px 0px;
  border-radius: 10px;
  }
  .gameDetails{
    padding: 20px 27px;
  }
  .playBoard .food{
    background-color: #ff2a00ff;
    border-radius: 50%;
  }
h6{
  text-align: center;
  font-size: 1rem;
  color: #ffffff;
}
  .playBoard .head{
    background-color: #42fb79ff;
  }

  .controls{
    display: none;
    justify-content: space-around;
  }

  @media screen and (max-width: 600px) {
   
    .controls{
      display : flex;
    }
    .controls i{
      padding: 15px 0;
    }

   h6{
    text-align: center;
    font-size: 1rem;
    color: #ffffff;
   }
   
  }